<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="FILE_LOG_PATTERN" value="%clr(▶ ${LOG_LEVEL_PATTERN:-%5p}) %d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Seoul} %clr(%-40.40logger{39}){cyan} - %msg%n" />

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(▶ ${LOG_LEVEL_PATTERN:-%5p}) %d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Seoul} %clr([%X{requestId}]){cyan} %clr(%-40.40logger{39}){cyan} %clr([%-40.40class{39} ▶ %method:%line]){magenta} - %msg%n"/>

    <springProperty name="filePath" source="logging.file.path"/>
    <springProperty name="prefix" source="logging.file.prefix"/>
    <springProperty name="applicationName" source="spring.application.name"/>

    <springProfile name="local">
        <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE_APPENDER"/>
        </logger>

        <logger name="com.tinyquest" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE_APPENDER"/>
        </logger>

        <logger name="jdbc" level="OFF"/>
        <logger name="jdbc.sqlonly" level="OFF"/>
        <logger name="jdbc.audit" level="OFF"/>
        <logger name="jdbc.resultset" level="OFF"/>
        <logger name="jdbc.connection" level="OFF"/>
        <logger name="jdbc.sqltiming" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE_APPENDER"/>
        </logger>
        <logger name="jdbc.resultsettable" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE_APPENDER"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="CONSOLE_APPENDER"/>
        </root>
    </springProfile>

    <springProfile name="dev | qa | prod">

        <appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${filePath}/${prefix}_${applicationName}_app.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${filePath}/${prefix}_${applicationName}_app.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
                <maxHistory>30</maxHistory>
                <totalSizeCap>1024MB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <appender name="FILE_ERROR_APPENDER"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${filePath}/${prefix}_${applicationName}_error.log</file>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>
                    ${filePath}/${prefix}_${applicationName}_error-%d{yyyy-MM-dd}.log.gz
                </fileNamePattern>
                <maxHistory>30</maxHistory>
                <totalSizeCap>1024MB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="FILE_APPENDER"/>
            <appender-ref ref="FILE_ERROR_APPENDER"/>
        </root>

    </springProfile>

</configuration>